GUI/Connected Services/addPark/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddPark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NeighboringStates" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Establishedn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Founder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddParkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddParkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>